@use 'variables' as vars;
@use 'mixins' as mixins;

.hero {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 5vw;
    margin-left: 5vw;
    align-items: center;

    &__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        max-width: 50%;
        padding: 0 2vw;
    }

    &__branding {
        max-width: 320px;
        margin: 0;
        order: 2;
        align-items: center;
    }

    &__image {
        max-width: 50%; 
        padding-top: 0;
    }

    &__combos {
        display: flex;
        padding-top: 5px;

        &__combo {
            margin-top: 10px;
        }

        &__item {
            flex: 1;
            margin-right: 2vw;
        }
    }
}

.hero__image img {
    max-width: 100%; 
    padding-top: 0;
}
