@use 'mixins' as mixins;

.menu {
    &__planos {
        text-align: center;
    }

    &__title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    &__tabs {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    &__tab {
        @include mixins.menu-style(&, #007bff, #fff);
        margin: 0 10px;

        &--active {
            background-color: #0056b3;
        }
    }

    &__content {
        display: none;
        font-size: 18px;

        &--active {
            display: block;
        }
    }
}