$corPrincipal: #fae9b0;
$corFontePrincipal: #4E342E;
$corSecundaria:  #FF9800;
$corFonteSecundaria:#FFFFFF;
$corDeFundoBotaoPrimario: #ff9860;
$corDeFundoBotaoSecundario: #FF3800;
$corDeFundoBotaoDark: #272727;